@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4">
            <a href="javascript:void(0);" class="m-md-auto">Blazor Resource Scheduler CRUD Example with Restful Services</a>
        </div>
        <div class="content px-4">@Body</div>
    </div>
</div>
